<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DDS_Restaurant_VB.My.MySettings.cnnStr" connectionString="Data Source=LENER-PC\SQLEXPRESS;Initial Catalog=DDSBD;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=DDS_Restaurant_VB.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>