<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DDS_Restaurant_Solution.Properties.Settings.cnnStr"
            connectionString="Data Source=DESKTOP-HGT8A44\SQLEXPRESS;Initial Catalog=DDSBD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=DDS_Restaurant_Solution.Models.DataContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>